* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.im-image {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 1520px;
}

.im-image2 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 1650px;
}

.im-image3 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 1700px;
}

.im-image4 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 1750px;
}

.im-image5 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 1800px;
}

.im-image6 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 1850px;
}

.im-image7 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 1900px;
}

.im-image8 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 1950px;
}

.im-image9 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2000px;
}

.im-image10 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2050px;
}

.im-image11 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2100px;
}

.im-image12 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2150px;
}

.im-image13 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2200px;
}

.im-image14 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2250px;
}

.im-image15 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2300px;
}

.im-image16 {
  width: 300px;
  position: absolute;
  top: 0px;
  left: 2350px;
}

.im-image17 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2400px;
}

.im-image18 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2450px;
}

.im-image19 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2500px;
}

.im-image20 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2550px;
}

.im-image21 {
  width: 400px;
  position: absolute;
  top: 0px;
  left: 2600px;
}

.im-gif {
  width: 600px;
  position: absolute;
  top: 240px;
  left:130px;
}
